windows_executable/build/
linux_executable/build/
linux_executable/afflux
linux_executable/afflux_gui
mac_os_executable/build/
mac_os_executable/afflux
mac_os_executable/afflux_gui
test/
pyaff/build
pyaff/dist
pymobiledevice2/__pycache__/
__pycache__/
.idea/

*.pyc
*.dat
*.aff4
*.zip
*.pub
*.exe

adb